* {
	box-sizing: border-box;
	transition: all .4s ease-in-out;
	padding: 0;
	margin: 0;
}

html, body {
/* 	height: 100vh; */
	
}

body {
	/* margin: 0 auto; */
	/* width: 90%;
	padding-top: 90%; */
}


.desk {
	outline: 1px solid red;
	padding: 0;
	margin: 0;
	margin: 0 auto;
	text-align: center;

	/* width: 100vh; */
	/* width: 420px; */
	/* border: 10px solid black; */
	position: relative;
}


ul {
	padding: 0;
	margin: 0;
	font-size: 0;
}

li {
	font-size: 16px;
	display: inline-block;
	width: 80px;
	height: 80px;
	/* outline: 1px solid red; */
}



.brown {
	background: #d18b47;
}

.yellow {
	background: #ffce9e;
}



.white {
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 100%;
}

.black {
	width: 60px;
	height: 60px;
	background: black;
	border-radius: 100%;

}

.r1 {
	position: absolute;
	top: 10px;
}

.r2 {
	position: absolute;
	top: 90px;
}

.r3 {
	position: absolute;
	top: 170px;
	
}

.r4 {
	position: absolute;
	top: 410px;
	
}
.r5 {
	position: absolute;
	top: 490px;
}

.r6 {
	position: absolute;
	top: 570px;
	
}


.c1 {
	left: 365px;
}

.c3 {
	left: 525px;
}

.c5{
	left: 685px;
}

.c7 {
	left: 845px;
}



.c2 {
	left: 445px;
}

.c4 {
	left: 605px;
}

.c6  {
	left: 765px;
}

.c8  {
	left: 925px;
}


